
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body{
	height: auto !important;

}

.hide-me{
    visibility: hidden;
}


.section{

	max-width: rem-calc(1280);
	margin: 0 auto;
	height: auto;
	font-family: "brandon-grotesque",sans-serif;
	
	
	
	
}


.owl-dots{
	position: absolute;
	
	@include translate(-50%,0%);
	left: 50%;
	
	@include breakpoint(small only){
		bottom: 30px;
	}
	@include breakpoint(medium up){
		bottom: 45px;
	}

}
.owl-dot{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin:0px 3px;
	background: rgba(255,255,255,1);
	@include border-radius(7px); 
}
.owl-dot.active{
	background: rgba(255,255,255,.5);

	border:2px solid #fff;
}