

.nav{

	position: fixed;
	top:0px;
	left: 0px;
	width: rem-calc(263);
	height: auto;
	background: $white;
	padding: rem-calc(24) rem-calc(14) rem-calc(10) rem-calc(14);
	z-index: 4;
	@include border-bottom-radius(5px);
	@include box-shadow(0px 0px 10px 0px rgba(0,0,0,.5));
	
	@include breakpoint(medium down){display: none;}

}

.nav .names{
	position: relative;
	display: block;
	text-align: justify;
	margin:0px;
	text-transform: uppercase;
	@include brandonGrotesque-bold;
	font-size:rem-calc(14);
	
	span{
		position:relative;
		top:-2px;
	}
}

.nav .site-logo{
	position: relative;
	display: block;
	width: 100%;
	margin:6px 0px 12px 0px;
}


.nav ul{
	
	position:relative;
	display: block;
	width: 100%;
	padding: 0px;
	margin:0px 0px 4px 0px;
	li{
		list-style-type: none;
		border-bottom:1px solid $black;
		
		&:first-child{
			border-top:1px solid $black;
		}
		&:nth-child(3) a img{
				width: 9%;
		}
	}
	
	li a{

		position:relative;
		font-size:rem-calc(28);
		color:$black;
		display: block;
		padding-left: 10px;
		@include brandonGrotesque-thin;
		
		&:hover{
			background:$orange;
		}
		
		.icon{
			position: absolute;
			width: 12%;
			right:10px;
			top:50%;
			@include translate(0%,-50%);
			
			
		}
		
	}
	
}

.nav .social{
    
	font-size:0px;
	
	img{
		position:relative;
		width:calc(100%/3 - 3px);
	}
}


.nav-mobile{
	
	position: relative;
	display:block;
	width: 92%;
	margin:4% auto 0px auto;
	z-index: 3;
	background:$white;
	padding: 2%;
	@include clearfix;
	@include border-radius(5px);
	@include box-shadow(0px 0px 10px 0px rgba(0,0,0,.5));
	
	@include breakpoint(medium down){display: block;}
	@include breakpoint(large){display:none;}
	
	
	 .names{
		position: relative;
		display: block;
		text-align: justify;
		margin:0px;
		text-transform: uppercase;
		@include brandonGrotesque-bold;
		font-size:1.25vw;
		
		span{
			position:relative;
			top:-2px;
		}
	}
	
	.site-logo{
		position: relative;
		
		width: 24%;
		margin:1% 0px 0px 0px;
	}
	
	.social-holder{
		position:relative;
		float:right;
		
		
		
	}
}