

.hero{

	position: relative;
	display: block;
	width: 100%;
	
	overflow: hidden;
	min-height: 100vh;
	

	.section{
		
		@include clearfix;

		.pre-order-dialog{

			position: relative;
			display: block;
			
			height: 100vh;
			
			
			z-index: 3;
			
			@include breakpoint(medium down){
				float: none;
				width: 90%;
				margin: 0px auto;
				padding: 5%;
			}
			
			@include breakpoint(large){
				float: right;
				width: rem-calc(637);
				padding: rem-calc(50);
			}
			
			
			
			.dialog-content{

				position: relative;
				display: block;
				width: 100%;

			}
			.dialog-content .header{

				position: relative;
				display: block;
				width: 100%;
				height: auto;
				background: rgba(255,255,255,.25);
				padding: rem-calc(14) rem-calc(14) rem-calc(8) rem-calc(14);
				z-index: 2;

				h2 span{
					display: block;

					
					@include breakpoint(medium down){
						&:first-child{
							font-size: 6vw;
						}
						&:last-child{
							font-size:3.4vw;
						}
					}
					
					@include breakpoint(large){
						&:first-child{
							font-size: rem-calc(42);
						}
						&:last-child{
							font-size:rem-calc(24);
						}
					}
				}
				h2{
					position: relative;
					display: inline-block;
					@include brandonGrotesque-black;
					text-transform: uppercase;
					color:$white;
					line-height: 1;
					vertical-align: top;
				}

				a{
					position: absolute;
					right: 14px;
					
					@include translate(0%,-50%);
					top:50%;
					
					img{width: 100%}
					
					@include breakpoint(medium down){
						width: 20%;
					}
					
					
					
					
				}

			}
			.dialog-content .video{
				position: relative;

				background: #111;
				height: auto;
				width: 100%;
				
				z-index: 2;
				@include breakpoint(medium down){
					margin-top:6%;
				}
				@include breakpoint(large){
					margin-top:rem-calc(40);
				}
			}
			.dialog-content .video .video-wrapper{
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 0px;
				height: 0;
				z-index: 2;
				

				#video-trailer{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

			}			

			.halfs{
				position: absolute;
				display: block;
				width: 100%;
				height: 40%;
				left: 0px;
				z-index: 1;
			}

			.top-half{
				top:0px;
				@include linearGradient(rgba(0,0,0,.25),transparent);
			}
			.bot-half{
				bottom:0px;
				@include linearGradient(transparent,rgba(0,0,0,.25));
			}

		}

	}
	.hero-guys{
		
		position: absolute;
		z-index: 2;
		bottom: 0px;
		left: 40%;
		width: calc(559/1280 * 100%);
		@include translate(-50%,0%);
		
		@include breakpoint(medium down){display: none;}
	}
	.hero-bg{
		position: absolute;
		top:0%;
		left: 0px;
		width: 100%;
		height: 200%;
		background-position: top center;
		background-image:url('../img/fml-hero-bg.jpg');
		z-index: 1;
		background-size: cover;

	}

}



.synopsis{

	min-height: 50vh;
	background: $black url('../img/fml-syp-bg.jpg');
	background-size: cover;
	
	display: table;
	width: 100%;
	
	@include breakpoint(medium down){
		padding-left: 5%;
	}
	@include breakpoint(large up){
		padding-left: 25%;
	}
	
	overflow: hidden;
	.section{
		position: relative;
		display: table-cell;
		vertical-align:middle;
		color:"#fff";
		
		
		p{
			position:relative;
			
			max-width: 504px;
			@include brandonGrotesque-thin;
			
			line-height: 1.25;
			
			z-index: 2;
			
			@include breakpoint(small only){
				width: 50%;
				font-size:4vw;
				padding:4% 0%;
			}
			@include breakpoint(medium down){
				width: 50%;
				font-size:rem-calc(20);
				padding:4% 0%;
			}
			@include breakpoint(large up){
				width: 90%;
				font-size:rem-calc(20);
			}
			
			
			
			
			
		}
		.hand{
			position: absolute;
			
			right: 0px;
			display: block;
			
			
			z-index: 1;
			@include breakpoint(small only){
				bottom:-5%;
				width:45%;
				height:auto;
			}
			
			@include breakpoint(medium){
				top:0px;
				height:110%;
				width:auto;
			}
			@include breakpoint(large up){
				top:0px;
				height:110%;
				width:auto;
			}

		}
	}


}

.order-bio{

	min-height: 200vh;
	background: $black url('../img/fml-order-bio-bg.jpg') center center;
	background-size: cover;
	

	.section.order{
		height: 100vh;
		max-width: none;
		background: rgba(255,255,255,.9);
	}


}



