<!doctype html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  <meta name="description" content="" />
  <meta property="og:title" content="FML The Movie" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="company" />
  <meta property="og:site_name" content="FML" />
  <meta property="og:image" content="" />
  <meta name="robots" content="noindex">
    <title>----</title>
    <script src="https://use.typekit.net/ard0udv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="css/style.min.css">
   
    
  </head>
  <body>

    <div class="nav">
        <p class="names">JASon NASH <span>|</span> BRANDON CALVILLO</p>
        <img class="site-logo" src="img/fml-logo.png" alt="FML"/>
        
        <ul>
          
          <li><a href="#about">About<img class="icon" src="img/fml-icon-shades.png"/></a></li>
          <li><a href="#shop">Shop<img class="icon" src="img/fml-icon-cart.png"/></a></li>
          <li><a href="#cast-selfies">Cast Selfies<img class="icon" src="img/fml-icon-phone.png"/></a></li>
          <li><a href="#gallery">Gallery<img class="icon" src="img/fml-icon-photo.png"/></a></li>
          
        </ul>
        <a href="http://instagram.com/fmlthemovie" target="_blank" class="social"><img src="img/fml-social-instagram.png"/></a>
        <a href="https://twitter.com/fmlthemovie" target="_blank" class="social"><img src="img/fml-social-tw.png"/></a>
        <a href="https://www.facebook.com/fmlthemovie/" target="_blank" class="social"><img src="img/fml-social-fb.png"/></a>

        

    </div>
    

    
    <div class="hero">
      
      
      <div class="nav-mobile">
          <p class="names">JASon NASH <span>|</span> BRANDON CALVILLO</p>
          <img class="site-logo" src="img/fml-logo.png" alt="FML"/>
          <div class="social-holder">
            <a href="http://instagram.com/fmlthemovie" target="_blank" class="social"><img src="img/fml-social-insta-big.png"/></a>
            <a href="https://twitter.com/fmlthemovie" target="_blank" class="social"><img src="img/fml-social-tw-big.png"/></a>
            <a href="https://www.facebook.com/fmlthemovie/" target="_blank" class="social"><img src="img/fml-social-fb-big.png"/></a>
          </div>

      </div>

      <div class="section row">
        
        <p class="cta">
        A road trip<br/>
        to find<br/>
        your selfie
      </p>

        <div class="pre-order-dialog">

          <div class="dialog-content">

            <div class="header">
              <h2>
                <span>pre-order now</span>
                <span>for exclusive daily videos!</span>
              </h2>
              <a href="#shop"><img src="img/fml-buy-btn.png" alt="Pre-Order Now"/></a>
            </div>

            <div class="video">
              <div class="video-wrapper">
                <div id="video-trailer"></div>
              </div>
              
            </div>
            <div class="single-tweet"> 
                 <a class="twitter-timeline" 
                 href="https://twitter.com/FMLTheMovie" 
                 height="250" 
                 data-widget-id="737654368569286657" 
                  data-chrome="nofooter transparent noborders"
                 >
              
            </a>
            
          
            </div>
            <!--
             <div class="single-tweet"> 
              <a class="twitter-timeline"
              href="https://twitter.com/jasonnash"
              data-widget-id="737657091830259712" 
              data-chrome="nofooter noborders"
              
              >Tweets by @jasonnash</a>
              </div>
            -->
          
            
            



          </div>
          <div class="top-half halfs"></div>
          <div class="bot-half halfs"></div>
        </div>
        <img class="hero-guys" src="img/fml-hero-guys.png"/>
      </div>

      
      <div id="herobg" class="hero-bg"></div>


    </div>


    <div class="synopsis fml-section">

      <div class="section row">

        
        <p>
          FML The Movie is a road trip comedy about 2 unlikely friends on a quest to get a million followers via social media. FML features real life Vine stars and collaborators Jason Nash and Brandon Calvillo, along with a who's who of social media stars: Bart Baker, Jimmy Tatro, Ry Doon, Scotty Sire, and more, along with comedic stars Andy Daly, Busy Philipps and Kirk Zipfel.
        </p>

        <img class="hand" src="img/fml-hand-bg.png"/>

      </div>
      
    </div>




    <div class="order fml-section">

      <div class="section row">

        <div class="products-holder">
            <img class="arrow-btn arrow-left hide-me prod-gal-btn" src="img/fml-yellow-left-arrow.png"/>
            <img class="arrow-btn arrow-right prod-gal-btn" src="img/fml-yellow-right-arrow.png"/>
          <div class="owl-carousel prods">
              <div class="prod">
                <a id="big-btn-2" href="#" class="prod-btn-full"></a>
                <div class="prod-content">

                  <img src="img/fml-pack-1.jpg"/>
                  <h2>
                    Deluxe Digital <br class="show-for-medium-up">FML Movie Edition
                  </h2>
                  <ul>
                    <li>Includes a digital copy of the 80+ minute feature film</li>
                    <li>Over 30 minutes of exclusive extras, bloopers, & behind-the-scenes footage</li>
                    
                </ul>

                <a id="btn-2" href="#" class="prod-btn">

                  Buy it

                </a>
                </div>

              </div>
              <div class="prod">
              <a id="big-btn-1" href="#" class="prod-btn-full"></a>
                <div class="prod-content">

                  <img src="img/fml-pack-2.jpg"/>
                  <h2>
                    Deluxe Digital FML Movie <br class="show-for-medium-up">+  
                  Live Backstage Pass
                  </h2>
                  <ul>
                    <li>Includes a digital copy of the 80+ minute feature film</li>
                    <li>Over 30 minutes of exclusive extras, bloopers, & behind-the-scenes footage</li>
                    <li>Actual daily video footage from the filming of the movie</li>
                  
                    
                </ul>
          
                <a id="btn-1" href="#" class="prod-btn">

                  Buy it

                </a>

                </div>

              </div>
              <div class="prod">
                <a id="big-btn-0" href="#" class="prod-btn-full"></a>
                <div class="prod-content">

                  <img src="img/fml-pack-3.jpg"/>
                  <h2>
                    Deluxe FML Movie <br class="show-for-medium-up">Fan Package
                    <span>
                      Order before June 15 and get a free bonus
                    </span>
                  </h2>
                  <ul>
                    <li>Includes a digital copy of the 80+ minute feature film</li>
                    <li>Over 30 minutes of exclusive extras, bloopers, & behind-the-scenes footage</li>
                    <li>Exclusive FML T shirt</li>
                    <li>FML / Soda Dad drink koozie!</li>
                    <li>Normally $49.99 - but save $10 if you 
                      order by June 15!</li>
                </ul>


                <a id="btn-0" href="#" class="prod-btn">

                  Buy it

                </a>



                </div>

              </div>

          </div>



        </div>   

      </div>
      
      <div class="cover"></div>
    </div>


    
    
    <div class="bio fml-section">
        
        <div class="section row">
             <div class="owl-carousel gallery-bio">
                <div class="bio">
                  <div class="bio-image">
                    <img src="img/fml-bio-1.png"/>
                  </div>
                  <div class="bio-copy">
                    <h2>JASON <br class="hide-for-large"/>NASH</h2>
                    <p>
Jason Nash is a comedian, actor, writer, director, and Vine star.  Jason created the web series "Jason Nash is Married," a film version of which was released last year.  Jason also created the web series "How to Be a Man" and "The Shaman," and co-hosted and produced the long-running “Guys With Feelings” podcast.
                    </p>
                    <a class="bio-social" href="https://vine.co/JasonNash" target="_blank"><img src="img/fml-bio-vine.png"/></a>
                    <a class="bio-social" href="https://twitter.com/jasonnash"><img src="img/fml-vio-tw.png"/></a>
                  </div>
                </div>
                
                <div class="bio">
                  <div class="bio-image">
                    <img src="img/fml-bio-2.png"/>
                  </div>
                  <div class="bio-copy">
                    <h2>BRANDON <br class="hide-for-large"/>CALVILLO
</h2>
                    <p>
Brandon Calvillo is a comedian, writer, actor, and Vine personality (with over 6 million followers and over 3 billion loops!).  Brandon has appeared in the TV series "SHFTY: Super Happy Funtime, Yay!", and "Warzone" - "FML" will be Brandon's feature film debut.   
                    </p>
                    <a class="bio-social" href="https://vine.co/BrandonCalvillo" target="_blank"><img src="img/fml-bio-vine.png"/></a>
                    <a class="bio-social" href="https://twitter.com/BJCalvillo?lang=en"><img src="img/fml-vio-tw.png"/></a>
                  </div>
                </div>
              </div>
        
        </div>
        
         
    </div>












 
  <div class="carousel-holder fml-section">
   <img class="arrow-btn arrow-left gallery-btn" src="img/fml-white-left-arrow.png"/>
   <img class="arrow-btn arrow-right gallery-btn" src="img/fml-white-right-arrow.png"/>
    <div class="owl-carousel gallery">
      <div><img src="img/gallery/FML_Gallery1.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery2.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery3.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery4.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery5.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery6.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery7.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery8.jpg"/></div>
      <div><img src="img/gallery/FML_Gallery9.jpg"/></div>
    </div>
    
    
</div>
 
 
     <div class="footer">

      <div class="section row">
      
        <div class="large-6 columns">
          
          <!-- Begin MailChimp Signup Form -->

            <div id="mc_embed_signup">
              <h2>
                Questions? Comments?<br/>
                We'd love to hear from you!
                
              </h2>
            <form action="//fml-the-movie.us13.list-manage.com/subscribe/post?u=0abf508fba7e75d4da9272051&amp;id=1c3600bd09" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">

            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Name">
            </div>
            <div class="mc-field-group">

            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
            </div>
            <div class="mc-field-group">
            <textarea type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4" placeholder="Comments"></textarea>
            </div>
            <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0abf508fba7e75d4da9272051_1c3600bd09" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='MMERGE4';ftypes[4]='text';fnames[2]='COMPANY';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';}(jQuery));var $mcj = jQuery.noConflict(true);
            </script>
          <!--End mc_embed_signup-->
          
          
        </div>
        <div class="large-6 columns">
          
          <div class="social-links">
            <a href="https://twitter.com/fmlthemovie" target="_blank" class="social"><img src="img/fml-social-tw-big.png"/></a>
            <a href="http://instagram.com/fmlthemovie" target="_blank" class="social"><img src="img/fml-social-insta-big.png"/></a>
            <a href="https://www.facebook.com/fmlthemovie/" target="_blank" class="social"><img src="img/fml-social-fb-big.png"/></a>

          </div>
          
        </div>
        
        <div class="riot-logo">
          
            <a href="http://digitalriotmedia.com/" target="_blank">
            <img src="img/fml-riot-logo.png"/>
            </a>
            <p>© 2016 digital <br/>RIOT MEDIA</p>
                
        </div>


      
      
      </div>
      
      
    </div>




    <script src="http://sdks.shopifycdn.com/js-buy-sdk/latest/shopify-buy.polyfilled.globals.min.js"></script>
    <script src="js/libs.min.js"></script>
    <script src="js/script.min.js"></script>

    <script>
      
      
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";js.setAttribute('onload', "twttr.events.bind('rendered',function(e) {twFeeds()});");fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77588201-1', 'auto');
    ga('send', 'pageview');

    </script>
    
  </body>
</html>
